---
---
<div class="row">
  <div class="col-sm-2 position-relative">
    {%- if entry.preview -%}
      {% if entry.preview contains '://' %}
        <img class="preview z-depth-1 rounded w-100" src="{{ entry.preview }}">
      {% else %}
        <img class="preview z-depth-1 rounded w-100" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
      {% endif %}
    {% endif %}
  
    {%- if entry.abbr -%}
      <abbr class="badge position-absolute top-0 start-0 bg-primary text-white p-1 rounded" style="transform: translate(10px, 10px); z-index: 10;">
        {% if site.data.venues[entry.abbr] %}
          <a href="{{ site.data.venues[entry.abbr].url }}" class="text-white">{{ entry.abbr }}</a>
        {% else %}
          {{ entry.abbr }}
        {% endif %}
      </abbr>
    {% endif %}
  </div>  
  
  {% comment %} <div class="col-sm-2 {% if entry.preview %}preview{% else %}abbr{% endif %}">
    {%- if entry.preview -%}
      {% if entry.preview contains '://' -%}
        <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
      {%- else -%}
        <img class="preview z-depth-1 rounded" src="{{ entry.preview | prepend: '/assets/img/publication_preview/' | relative_url }}">
      {%- endif -%}
    {%- elsif entry.abbr -%}
      {%- if site.data.venues[entry.abbr] -%}
        <abbr class="badge"><a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a></abbr>
      {%- else -%}
        <abbr class="badge">{{ entry.abbr }}</abbr>
      {%- endif -%}
    {%- endif -%}
  </div> {% endcomment %}

  <div id="{{ entry.key }}" class="col-sm-9">
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>

    <!-- Author -->
    <div class="author">
      {% assign author_array_size = entry.author_array | size %}
      {% assign author_array_limit = site.max_author_limit | default: author_array_size %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {%- assign author_is_self = false -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {%- if site.scholar.last_name contains author.last and site.scholar.first_name contains author.first -%}
          {%- assign author_is_self = true -%}
        {%- endif -%}

        {%- if forloop.length == 1 -%}
          {%- if author_is_self %}
            <em>{{ author.first }} {{ author_last_html }}</em>
          {%- else -%}
            {{ author.first }} {{ author_last_html }}
          {%- endif -%}
        {%- else -%}
          {%- unless forloop.last -%}
            {% if author_is_self %}<em>{{ author.first }} {{ author_last_html }}</em>,&nbsp;{% else %}{{ author.first }} {{ author_last_html }},&nbsp;{% endif %}
          {%- else -%}
            and {% if author_is_self %}<em>{{ author.first }} {{ author_last_html }}</em>{% else %}{{ author.first }} {{ author_last_html }}{% endif %}
          {%- endunless -%}
        {%- endif -%}
      {%- endfor -%}
    </div>

    <!-- Journal/Book title and date -->
    {% assign proceedings = 'inproceedings,incollection' | split: ',' %}
    {% assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' %}
    {% if entry.type == 'article' %}
      {% capture entrytype %}<em>{{ entry.journal }}</em>{% endcapture %}
    {% elsif proceedings contains entry.type %}
      {% capture entrytype %}<em>In {{ entry.booktitle }}</em>{% endcapture %}
    {% elsif thesis contains entry.type %}
      {% capture entrytype %}<em>{{ entry.school }}</em>{% endcapture %}
    {% endif %}
    <div class="periodical">{{ entrytype }} {{ entry.month | capitalize }} {{ entry.year }}</div>

    <!-- Links -->
    <div class="links">
      {% if entry.abstract %}<a class="abstract btn btn-sm z-depth-0" role="button">Abstract</a>{% endif %}
      {% if entry.pdf %}<a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">PDF</a>{% endif %}
      {% if entry.arxiv %}<a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>{% endif %}
      {% if entry.code %}<a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>{% endif %}
      {% if entry.website %}<a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>{% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
      <div class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
      <div class="bibtex hidden">
        {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
      </div>
    {% endif %}
  </div>
</div>
